[Unit]
Description=Watch directory "watch" for new files and process them


[Service]
ExecStart=/usr/sbin/watch.sh

[Install]
WantedBy=multi-user.target
